name: Pull Request (Build and Unit Tests)

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read

    steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup pnpm
          uses: pnpm/action-setup@v4
          with:
            run_install: false

        - name: Setup Node
          uses: actions/setup-node@v4
          with:
            node-version: 22
            cache: pnpm
            cache-dependency-path: pnpm-lock.yaml

        - name: Install dependencies
          run: pnpm install --frozen-lockfile
        
        - name: Build
          run: pnpm build

        - name: Run unit tests
          run: pnpm test:ci